<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FlightSearchTestsSuite" parallel="false" thread-count="3">
    <test name="FlightSearchTest1">
        <classes>
            <class name="tests.FlightSearchTest"/>
        </classes>
    </test>

    <test name="FlightSearchTest2">
        <classes>
            <class name="tests.FlightSearchTest2"/>
        </classes>
    </test>

    <test name="FlightSearchTest3">
        <classes>
            <class name="tests.FlightSearchTest3"/>
        </classes>
    </test>
</suite>